
h1, h6 {
  color: black;
}


#top, #bottom, #left, #right {
	background: black;
  }



    .top a:hover {
      color: white;
    }

    a {
      color: white;
    }


  a:hover { 
      color: black;
  } 

    
    .bottom a:hover {
      background-color: rgb(44, 44, 44);
      color: white;
    }
    
    .previous, .next {
      background-color: #161616;
      color: white;
    }
    

    .close-button {
      border-color: black;
      color:  black;
    }
    .close-button:hover {
      color: black;
      border-color: darkslategray;

    }

  


  .button {
  background: #141414;
  border-radius: 0px;
  border: 04px solid black;
    color: white;

  }


.slider {
  background: black;
}

.slider::-webkit-slider-thumb {
  background: black;
}

.slider::-moz-range-thumb {
  background: black;
}
    